{% extends 'maintemplate.html' %}
 
{% block content %}
         <h1 class="blog-title">Simple Form in Django</h1>
        
        <div class="form-box">               
                <form action="" method="post" > 
                        {%  csrf_token %}
                        {% comment %} <table  border="1"> {% endcomment %}
                        <table>       
                        {% comment %} {{form}}      {% endcomment %}
                                {{form.as_table}}   
                        
                                <tr>
                                        <td colspan="5">
                                                <input type="submit" value="ENROLMENT">
                                        </td> 
                                        {% comment %} <td>
                                        </td>         {% endcomment %}
                                </tr>
                        </table>  
                </form>                        
        </div>


{% endblock %}




{% block title  %}

Registeration

{% endblock  %}
